<h1>All Stores</h1>
<form class="ui form" id="index_form">
    <div class="fields">
        <div class="field">
            <input type="text" name="store_search" id="store_search" placeholder="Search for stores" style="width: 20em">
        </div>
        <div class="field">
            <select name="store_sort" id="store_sort" class="ui dropdown">
                <option value="">Sort by</option>
                <option value="name">Name</option>
                <option value="created_at">Created At</option>
                <option value="updated_at">Updated At</option>
            </select>
        </div>
        <% if admin_signed_in? %>
            <div class="field">
                <%= link_to 'CREATE STORE', new_store_path, class: 'ui button primary' %>
            </div>
        <% end %>
    </div>
</form>
<% if !@stores.empty? %>
    <div class="ui three stackable cards">
    <% @stores.each do |store| %>
        <div class="card store">
            <div class="content">
                <div class="header"> <%= link_to store.name, store_path(store), style: 'color:#000000;' %></div>
                <br>
                <div class="meta">
                    Total Items Sold: <%= store.sold_items %> <br>
                    Total Items Consigned: <%= store.total_products %> <br>
                    Total Sales: <%= 'Php %.2f' % store.total_sales %> <br>
                    <% if !store.deliveries.where('status = ?', false).empty?%>
                        Pending Deliveries: <%= store.deliveries.where('status = ?', false).count %>
                    <% end %>
                </div>
            </div>
            <% if admin_signed_in? %>
                <div class="extra content">
                    <% if store.total_products > 0 %>
                        <%= link_to 'PULL-OUT', new_store_pullout_path(store), class: 'ui basic default button'  %>
                    <% end %>
                    <%= link_to 'ADD DELIVERY', new_store_delivery_path(store), class: 'ui basic green button'%>
                </div>
            <% end %>
        </div>
    <% end %>
    </div>
    <br>
    <%= will_paginate @stores,renderer: WillPaginateSemanticUi::ActionView::Renderer %> 
<% else %>
  <h2>No Stores.</h2>
<% end %>