<%= link_to("< Go Back to #{@order.supplier.name}", supplier_path(@order.supplier), style: 'color:#7a828a;') %>
<h1>Order from <%= @order.supplier.name %></h1>
<p>Created at <%= @order.created_at.strftime("%B %d, %Y") %></p>
<%= link_to 'Download XLS', supplier_order_path(@order, format: :xls) %>
<table class="ui very basic table show-table">
	<thead>
		<tr>
			<th>SKU</th>
			<th>Product</th>
			<th>Quantity</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @order.order_products.each do |order_product| %>
		<tr>
			<td><%= order_product.product.sku %></td>
			<td><%= order_product.product.name %></td>
			<td><%= order_product.quantity %> units</td>
			<td><%= link_to 'View', product_path(order_product.product) %></td>
		</tr>
		<% end %>
		<tr>
			<td colspan="2"><b>Total</b></td>
			<td><b><%= @order.total_quantity %> units</b></td>
			<td></td>
		</tr>
	</tbody>
</table>
