<form class="ui form">
    <div class="fields">
        <div class="three wide field" style="margin-top:0.75em; text-align:center;">
            Summary Range:
        </div>
        <div class="four wide field">
            <div class="ui left icon input">
                <input type="date" name="start_date" id="start_date" value="<%= params[:start_date]%>">
                <i class="calendar alternate icon"></i>
            </div>
        </div>
        <div class="field" style="margin-top:0.5em;">
            to
        </div>
        <div class="four wide field">
            <div class="ui left icon input">
                <input type="date" name="end_date" id="end_date" value="<%= params[:end_date]%>">
                <i class="calendar alternate icon"></i>
            </div>
        </div>
        <div class="two wide field" style="margin-top:0.75em; text-align:right;">
            Graph Range:
        </div>
        <div class="four wide field">
            <select name="range" id="date_range" class="ui dropdown">
            <% if params[:range] == 'monthly' || params[:range] == nil %>
                <option value=""></option>
                <option value="weekly">Weekly</option>
                <option value="monthly" selected>Monthly</option>
                <option value="quarterly">Quarterly</option>
                <option value="yearly">Yearly</option>
            <% elsif params[:range] == 'weekly' %>
                <option value=""></option>
                <option value="weekly" selected>Weekly</option>
                <option value="monthly">Monthly</option>
                <option value="quarterly">Quarterly</option>
                <option value="yearly">Yearly</option>
            <% elsif params[:range] == 'quarterly' %>
                <option value=""></option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
                <option value="quarterly" selected>Quarterly</option>
                <option value="yearly">Yearly</option>
            <% else %>
                <option value=""></option>
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
                <option value="quarterly">Quarterly</option>
                <option value="yearly" selected>Yearly</option>
            <% end %>
            </select>
        </div>
        <button type="sumbit" class="ui button primary">
            GO
        </button>
    </div>
</form>
<div class="ui three column grid">
    <div class="column">
        <div class="ui card">
            <div class="content">
                <h1 class="dashboard_title">Total Sales</h1>
                <div class="meta"><%= Date.parse(@start_of_month[0..10]).strftime('%B %d, %Y') %> to <%= Date.parse(@today[0..10]).strftime('%B %d, %Y') %></div>
                <h2 class="dashboard_value"><%= 'Php %.2f' % @total_sales %></h2>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui card">
            <div class="content">
                <h1 class="dashboard_title">Total Revenue</h1>
                <div class="meta"><%= Date.parse(@start_of_month[0..10]).strftime('%B %d, %Y') %> to <%= Date.parse(@today[0..10]).strftime('%B %d, %Y') %></div>
                <h2 class="dashboard_value"><%= 'Php %.2f' % @total_revenue %></h2>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui card">
            <div class="content">
                <h1 class="dashboard_title">Total COGS</h1>
                <div class="meta"><%= Date.parse(@start_of_month[0..10]).strftime('%B %d, %Y') %> to <%= Date.parse(@today[0..10]).strftime('%B %d, %Y') %></div>
                <h2 class="dashboard_value"><%= 'Php %.2f' % @total_cogs %></h2>
            </div>
        </div>
    </div>
</div>
<br>
<div class="ui grid">
    <div class="twelve wide column">
        <% if params[:range] == 'monthly' || params[:range] == nil %>
            <h1>Monthly Sales &amp; COGS</h1>
        <% elsif params[:range] == 'weekly' %>
            <h1>Weekly Sales &amp; COGS</h1>
        <% elsif params[:range] == 'quarterly' %>
            <h1>Quarterly Sales &amp; COGS</h1>
        <% else %>
            <h1>Yearly Sales &amp; COGS</h1>
        <% end %>
    </div>
    <% if params[:range] == 'monthly' || params[:range] == nil %>
        <%= line_chart [ 
                {name: "Sales", data:  EndingInventory.group_by_month(:created_at, last: 6, format: '%B %Y').sum(:sales)}, 
                {name: "COGS", data: EndingInventory.group_by_month(:created_at, last: 6, format: '%B %Y').sum(:cogs)}
            ],prefix: 'Php ',thousands: ',', min: nil, curve: true %>
    <% elsif params[:range] == 'weekly' %>
        <%= line_chart [ 
                {name: "Sales", data:  EndingInventory.group_by_week(:created_at, last: 12, format: 'Week of %b %d %Y').sum(:sales)}, 
                {name: "COGS", data: EndingInventory.group_by_week(:created_at, last: 12, format: 'Week of %b %d %Y').sum(:cogs)}
            ],prefix: 'Php ',thousands: ',', min: nil, curve: true %>
    <% elsif params[:range] == 'quarterly' %>
        <%= column_chart [ 
                {name: "Sales", data:  EndingInventory.group_by_quarter(:created_at, last: 4,format: 'Qtr of %b %Y').sum(:sales)}, 
                {name: "COGS", data: EndingInventory.group_by_quarter(:created_at, last: 4, format: 'Qtr of %b %Y').sum(:cogs)}
            ],prefix: 'Php ',thousands: ',', min: nil, curve: true %>
    <% else %>
        <%= column_chart [ 
                {name: "Sales", data:  EndingInventory.group_by_year(:created_at, last: 4, format: '%Y').sum(:sales)}, 
                {name: "COGS", data: EndingInventory.group_by_year(:created_at, last: 4, format: '%Y').sum(:cogs)}
            ],prefix: 'Php ',thousands: ',', min: nil, curve: true %>
    <% end %>
</div>
<br><br>
<div class="ui two column grid">
    <div class="column">
        <div class="ui card" style="width:100%;">
            <div class="content">
                <h1 class="dashboard_title">Top 10 Products</h1>
                <div class="meta"><%= Date.parse(@start_of_month[0..10]).strftime('%B %d, %Y') %> to <%= Date.parse(@today[0..10]).strftime('%B %d, %Y') %></div>
                <table class="ui very basic table">
                    <tr>
                        <th></th>
                        <th>Product Name</th>
                        <th style="text-align:center;">Sales</th>
                        <th style="text-align:center;">Units</th>
                        <th></th>
                    </tr>
                    <% @products.each_with_index do |product, index| %>
                    <tr>
                        <td><%= index+1 %></td>
                        <td><%= product.name %></td>
                        <td style="text-align:right;"><%= "Php %.2f" % product.sales(@start_of_month, @today) %></td>
                        <td style="text-align:right;"><%= product.quantity_sold(@start_of_month, @today) %> units</td>
                        <td><%= link_to 'View', product_path(product) %></td>
                    </tr>
                    <% end %>
                </table>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui card" style="width:100%;">
            <div class="content">
                <h1 class="dashboard_title">Top 10 Stores</h1>
                <div class="meta"><%= Date.parse(@start_of_month[0..10]).strftime('%B %d, %Y') %> to <%= Date.parse(@today[0..10]).strftime('%B %d, %Y') %></div>
                <table class="ui very basic table">
                    <tr>
                        <th></th>
                        <th>Store Name</th>
                        <th style="text-align:center;">Sales</th>
                    </tr>
                     <% @stores.each_with_index do |store, index| %>
                    <tr>
                        <td><%= index+1 %></td>
                        <td><%= store.name %></td>
                        <td 
                        style="text-align:right;"><%= "Php %.2f" % store.total_sales(@start_of_month, @today) %></td>
                        <td><%= link_to 'View', store_path(store) %></td>
                    </tr>
                    <% end %>
                </table>
            </div>
        </div>
    </div>
</div>