<h1>Ending Inventory for <%= @ending_inventory.store.name %></h1>
<p><%= @ending_inventory.created_at.strftime("%B %d, %Y") %></p>
<%= link_to 'Download', store_ending_inventory_path(@ending_inventory, format: :xls) %>
<table class="ui very basic table show-table">
    <thead>
        <tr>
            <th>SKU</th>
            <th>Product</th>
            <th>Cost</th>
            <th>Price</th>
            <th>Quantity Sold</th>
        </tr>
    </thead>
    <tbody>
        <% @ending_inventory.ending_inventory_products.each do |ending_inventory_product| %>
            <% @ending_inventory.beginning_inventory_products.each do |beginning_inventory_product| %>
                <% if ending_inventory_product.product == beginning_inventory_product.product %>
				<tr>
                    <td><%= ending_inventory_product.product.sku %></td>
                    <td><%= ending_inventory_product.product.name %></td>
                    <td><%= "Php %.2f" % (beginning_inventory_product.product.cost * ending_inventory_product.quantity) %></td>
                    <td><%= "Php %.2f" % (beginning_inventory_product.product.price * ending_inventory_product.quantity) %></td>
                    <td><%= ending_inventory_product.quantity %> units</td>
				</tr>
                <% end %>
            <% end %>        
        <% end %>
        <tr>
            <td colspan="2"></td>
            <td><b><%= "Php %.2f" % @ending_inventory.total_cogs %></b></td>
            <td><b><%= "Php %.2f" % @ending_inventory.total_sales %></b></td>
            <td><b><%= @ending_inventory.total_items %> units</b></td>
        </tr>
    </tbody>
</table>
