<%= render 'header' %>
<form action="/forms/store_products" method="get" class="ui form">
    <div class="fields">
        <div class="ten wide field">
            <select type="text" placeholder="Search a store" name="store_id" class="ui search drpdown">
                <option value=" ">Store Name</option>
                <% @stores.each do |store|%>
                    <% if params[:store_id].to_i == store.id%>
                        <option value="<%=store.id%>" selected="selected"><%= store.name %></option>
                    <% else %>
                        <option value="<%=store.id%>"><%= store.name %></option>
                    <% end %>
                <% end %>
            </select>
        </div>
        <button type="submit" class="ui button primary">SEARCH PRODUCT LIST</button>
    </div>
</form>

<table class="ui very basic table show-table">
    <thead>
        <tr>
            <th colspan="5" style="text-align:center;">
                <% if params[:store_id] && params[:store_id] != ' ' %>
                    <h3><%= Store.find(params[:store_id]).name %> Consigned Products</h3>
                <% else %>
                    <h3>The Craft Central Product List</h3>                
                <% end %>
            </th>
            <th colspan="1">
                <%= link_to "DOWNLOAD LIST", store_products_forms_path(format: :xls), class: 'ui basic primary button'%>
            </th>
        </tr>
        <tr>
            <th>SKU</th>
            <th>Name</th>
            <th>Store</th>
            <th>Stocks Left</th>
            <th>COGS</th>
            <th>Sales</th>
        </tr>
    </thead>
    <tbody>
        <% @store_products.each do |product| %>
        <tr>
            <td><%= product.product.sku %></td>
            <td><%= product.product.name %></td>
            <td><%= product.store.name %></td>
            <td><%= product.inventory %></td>
            <td>Php <%= '%.2f' % product.cogs %></td>
            <td>Php <%= '%.2f' % product.sales %></td>
        </tr>
        <%end%>
        <tr>
            <td colspan="6">
                <%= will_paginate @store_products, param_name: 'page',renderer: WillPaginateSemanticUi::ActionView::Renderer %>
            </td>
        </tr>
    </tbody>
</table>