<?xml version="1.0" encoding="UTF-8"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet" xmlns:html="http://www.w3.org/TR/REC-html40">
    <% @stores.each do |store| %>
    <Worksheet ss:Name="<%= store.name %>">
        <Table>
        <Column ss:Index="1" ss:AutoFitWidth="0" ss:Width="110"/>
            <Row>
                <Cell><Data ss:Type="String">SKU</Data></Cell>
                <Cell><Data ss:Type="String">Product Name</Data></Cell>
                <Cell><Data ss:Type="String">Quantity</Data></Cell>
                <Cell><Data ss:Type="String">COGS</Data></Cell>
                <Cell><Data ss:Type="String">Sales</Data></Cell>
            </Row>
            <% store.store_products.each do |store_product| %>
            <Row>
                <Cell><Data ss:Type="String"><%= store_product.product.sku %></Data></Cell>
                <Cell><Data ss:Type="String"><%= store_product.product.name %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= store_product.inventory %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= store_product.cogs %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= store_product.sales %></Data></Cell>
            </Row>
            <% end %>
        </Table>
    </Worksheet>
    <% end %>
</Workbook>