<input type="hidden" name="store_id" id="store_id" value="<%= @store.id %>">
<div class="ui grid">
    <div class="seven wide column">
        <%= simple_form_for([@store, @transfer], html: {class: 'ui form'}) do |f| %>
            <div class="field">
                <%= f.association :store_to, collection: Store.all.where('id != ' + @store.id.to_s), include_blank: false %>
            </div>
            <div id="products">
                <%= f.simple_fields_for :transfer_products do |dp| %>
                    <%= render 'transfer_product_fields', f: dp %>
                <% end %>
            </div>
            <div class="links">
                <%= link_to_add_association 'ADD PRODUCT', f, :transfer_products %>
            </div>
            <br>
            <%= f.button :submit, class: 'ui button primary' %>
        <% end %>
    </div>
</div>
<script>
$(document).on('turbolinks:load', function () {
    var field_number = 1;
    $('form').on('cocoon:after-insert', function (e, transfer_product) {
        transfer_product.find('select').addClass('ajax_field');
        transfer_product.find('select').attr('field_number', field_number);
        transfer_product.find('input').addClass('nested_input ' + field_number);
        transfer_product.find('input').attr('field_number', field_number);
        field_number++;
        $('.nested_input').change(function () {
            var field_number = this.getAttribute('field_number');
            var select = $('[field_number='+field_number+']');
            var number = select.attr('field_number');
            var value = this.value;
            var store_id = $('#store_id').val();
            console.log(value);
            if (select.val() != "") {
                $.getJSON('/api/store_product?id=' + select.val() + '&store=' + store_id , function(product){
                    if (product.inventory < value || value <= 0) {
                        $("input[type='submit']").addClass('disabled');
                    } else {
                        $("input[type='submit']").removeClass('disabled');
                    }
                });
            } else {
                $("input[type='submit']").addClass('disabled');   
            }
        });
        $('.nested_input').keyup(function () {
            var field_number = this.getAttribute('field_number');
            var select = $('[field_number='+field_number+']');
            var number = select.attr('field_number');
            var value = this.value;
            var store_id = $('#store_id').val();
            console.log(value);
            if (select.val() != "") {
                $.getJSON('/api/store_product?id=' + select.val() + '&store=' + store_id, function(product){
                    if (product.inventory < value || value <= 0) {
                        $("input[type='submit']").addClass('disabled');
                    } else {
                        $("input[type='submit']").removeClass('disabled');
                    }
                });
            } else {
                $("input[type='submit']").addClass('disabled');   
            }
        });
    });
}); 
</script>