<h1>Products Page</h1>
<form class="ui form" id="index_form">
    <div class="fields">
        <div class="field" style="width:100%;">
            <input type="text" name="product_search" id="product_search" placeholder="Search for products">
        </div>
        <div class="field" style="width:100%;">
            <select name="product_sort" id="product_sort" class="ui dropdown">
                <option value="">Sort by</option>
                <option value="sku">SKU</option>
                <option value="name">Name</option>
                <option value="brand_id">Category</option>
                <option value="cost">Cost</option>
                <option value="price">Price</option>
                <option value="inventory">Inventory</option>
                <option value="created_at">Created Date</option>
                <option value="updated_at">Updated Date</option>
            </select>
        </div>
        <br>
        <div class="field" id="products_submit">
            <button type="submit" class="ui button secondary" style="margin: auto; width: 100%;">SUBMIT</button>
        </div>
    </div>
</form>
<% if admin_signed_in? %>
    <form class="ui form">
        <div class="fields">
            <div class="field" id ='create_product'>
                <%= link_to 'CREATE PRODUCT', new_product_path, class: 'ui button primary', style: "width:100%;" %>
            </div>
            <div class="field" id="import_help">
                <button type="button" class="ui button positive" style="width:100%;">IMPORT</button>
            </div>
        </div>
    </form>
<% end %>
<% if !@products.empty? %>
  <div class="ui card" id="product_table">
    <div class="content">
        <table class="ui very basic table">
            <thead>
                <tr>
                    <th colspan="5">
                        <h2>Recently Updated Products</h2>
                    </th>
                </tr>
                <tr>
                    <th>SKU</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <% @products.each do |product| %>
                <tr>
                    <td><%= product.sku %></td>
                    <td><%= product.name %></td>
                    <td><%= 'Php %.2f' % product.price %></td>
                    <td><%= product.brand.name %></td>
                    <td><%= link_to 'See Details', product_path(product) %></td>
                </tr>
            <% end %>
            </tbody> 
        </table>
    </div>
  </div>
  <%= will_paginate @products, inner_window: 1, renderer: WillPaginateSemanticUi::ActionView::Renderer %>   
<% else %>
    <h2>No Products.</h2>
<% end %>

<% if admin_signed_in? %>
    <%= render 'help_modal' %>
<% end %>