<?xml version="1.0" encoding="UTF-8"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet" xmlns:html="http://www.w3.org/TR/REC-html40">
    <Worksheet ss:Name="Sheet1">
        <Table>
        <Column ss:Index="1" ss:AutoFitWidth="0" ss:Width="110"/>
            <Row>
                <Cell><Data ss:Type="String">SKU</Data></Cell>
                <Cell><Data ss:Type="String">Name</Data></Cell>
                <Cell><Data ss:Type="String">Brand</Data></Cell>
                <Cell><Data ss:Type="String">Description</Data></Cell>
                <Cell><Data ss:Type="String">Price</Data></Cell>
                <Cell><Data ss:Type="String">Limit</Data></Cell>
                <Cell><Data ss:Type="String">Cost</Data></Cell>
                <Cell><Data ss:Type="String">Quantity</Data></Cell>
            </Row>
            <% @xls_products.each do |product| %>
            <Row>
                <Cell><Data ss:Type="String"><%= product.sku %></Data></Cell>
                <Cell><Data ss:Type="String"><%= product.name %></Data></Cell>
                <Cell><Data ss:Type="String"><%= product.brand.name %></Data></Cell>
                <Cell><Data ss:Type="String"><%= product.description %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= product.price %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= product.limit %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= product.cost %></Data></Cell>
                <Cell><Data ss:Type="Number"><%= product.inventory %></Data></Cell>
            </Row>
            <% end %>
        </Table>
    </Worksheet>
</Workbook>