<div class="ui grid">
    <div class="seven wide column">
    <%= simple_form_for(@supplier, html: {class: 'ui form', style: 'z-index: 2'}) do |f| %>
        <div class="field">
            <%= f.input :name, label: 'Supplier Name' %>
        </div>
        <div class="field">
            <%= f.input :email, label: 'Email Address' %>
        </div>
        <div class="field">
            <%= f.input :address, label: 'Supplier Address' %>
        </div>
        <div class="field">
            <%= f.input :contact_person, label: 'Contact Person' %>
        </div>
        <div class="field">
            <%= f.input :contact_number, label: 'Contact Number' %>
        </div>
        <div id="products">
            <%= f.simple_fields_for :supplier_products do |sp| %>
                <% render 'supplier_product_fields', f: sp %>
            <% end %>
        </div>
        <br>
        <% if !Product.all.empty? %>
            <div class="links">
                <%= link_to_add_association 'Add Product', f, :supplier_products %>
            </div>
        <%end%>
        <br>
        <% if params[:action] == 'new' %>
            <%= f.button :submit, class: 'ui button primary' %>
        <% else %>
            <%= f.button :submit, class: 'ui button positive' %>
        <% end %>
    <% end %>
    </div>
</div>