<h1>Suppliers Page</h1>
<form class="ui form" id="index_form">
    <div class="fields">
        <div class="field">
            <input type="text" name="supplier_search" id="product_search" placeholder="Search for a supplier" style="width: 20em">
        </div>
        <div class="field">
            <select name="supplier_sort" id="supplier_sort" class="ui dropdown">
                <option value="">Sort by name</option>
                <option value="ASC">Ascending</option>
                <option value="DESC">Descending</option>
            </select>
        </div>
        <% if admin_signed_in? %>
            <div class="field">
                <%= link_to 'CREATE SUPPLIER', new_supplier_path, class: 'ui button primary' %>
            </div>
        <% end %>
    </div>
</form>
<% if !@suppliers.empty? %>
  <div class="ui card" style="width:70%">
    <div class="content">
        <h2>List of All Suppliers</h2>
        <table class="ui very basic table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Product Count</th>
                    <th>Order Count</th>
                    <th>Products Delivered</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <% @suppliers.each do |supplier| %>
                <tr>
                    <td><%= supplier.name %></td>
                    <td><%= supplier.products.count %> units</td>
                    <td><%= supplier.orders.size %> orders</td>
                    <td><%= supplier.products_delivered %> units</td>
                    <td></td>
                    <td><%= link_to 'See Details', supplier_path(supplier) %></td>
                </tr>
            <% end %>
            </tbody> 
        </table>
        <%= will_paginate @suppliers,renderer: WillPaginateSemanticUi::ActionView::Renderer %> 
    </div>
  </div>
<% else %>
    <h2>No Suppliers yet</h2>
<% end %>