<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>The Craft Central Integrated Consignment System</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= favicon_link_tag 'icons/ink.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? || staff_signed_in? %>
    <%# Authenticated %>

      <%# Loader %>
      <div class="ui segment" style="position:fixed; height:102vh; width: 100vw; display:none; z-index: 999;" id="loader">
        <div class="ui active inverted dimmer">
          <div class="ui big text loader"><span id="load_text">Crafting</span> &hellip;</div>
        </div>
      </div>
      
      <div class="ui fluid container">
        <div class="ui grid">
          <div class="row">
            <div class="three wide column">
              <%= render 'layouts/sidebar' %>
            </div>
            <div class="thirteen wide column">
              <%= render 'layouts/navbar' %>
              <div id="content">
                <%= render 'layouts/popups' %>
                <%= yield %>            
              </div>
            </div>
          </div> <!--Row-->
        </div> <!--Grid-->
      </div> <!--Container-->
    <% else %>
      <%# Unauthenticated User %>
      <%= yield %>
    <% end %>

</body>
</html>